services:
  ids-api:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - ./.env
    volumes:
      - .:/app
    environment:
      - DEBUG=1
      - PYTHONUNBUFFERED=1
    networks:
      - base_network
    restart: on-failure
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
networks:
  base_network:
    external: true